<!-- Footer -->
<footer>
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-5 my-4 border-top">
          <p class="col-md-4 mb-0 text-muted">&copy; 2022 Company, Inc</p>
          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted d-none d-lg-block d-md-block">puipui.storeproject@gmail.com<i class="material-icons px-2">email</i></a><i class="material-icons d-block d-sm-none">email</i></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted d-none d-lg-block d-md-block">063-896-7129<i class="material-icons px-2">phone</i></a><i class="material-icons d-block d-sm-none">phone</i></li>
         </ul>         
        </footer>
    </div>
</footer>
<!-- End footer -->